.light-mode {
  --dotColor: rgb(193, 228, 193);
  --dotColorHover: rgb(218, 251, 218);
  --backgroundSwitch: #536242;
}

.dark-mode {
  --dotColor: rgb(191, 218, 117);
  --dotColorHover: rgb(184, 255, 62);
  --backgroundSwitch: #536242;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
  flex-shrink: 0;
  margin-top: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backgroundSwitch);
}

.started .slider,
.started .slider:before {
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: var(--dotColor);
}


@media (pointer: fine) {
  .slider:hover:before {
    background-color: var(--dotColorHover);

  }
}

.slider:active:before {
  background-color: var(--dotColorHover);
}


input:checked+.slider:before {
  transform: translateX(19.5px);
}

.slider.round {
  border-radius: 25.5px;
}

.slider.round:before {
  border-radius: 50%;
}